#resetPasswordScreen .signUPtext {
  font-size: var(--text-size-default);
  color: #fff;
  margin-top: 10px;
  font-weight: 300;
}

#resetPasswordScreen .signUPtext {
  text-align: center;
}

#resetPasswordScreen .signUPtext .routerButton {
  color: var(--submit-button-background);
  transition: 0.15s;
  cursor: pointer;
}

#resetPasswordScreen .signUPtext .routerButton:hover {
  color: var(--submit-button-background-hover);
}

#resetPasswordSuccessfulScreen .reset-password-successful-text {
  font-size: var(--text-size-body);
  line-height: var(--line-height-one-and-half);
  text-align: center;
  color: var(--primary-color-on-primary-background);
}
