#scheduleLockedScreen #scheduleLockedMessage {
  padding: 20px 0 20px 0;
  font-size: var(--text-size-body);
  line-height: var(--line-height-medium);
  color: var(--secondary-color-on-primary-background);
}

#scheduleLockedScreen #scheduleLockedMessage .scheduleLockedIcon {
  color: var(--secondary-color-on-primary-background);
  margin-bottom: 10px;
  font-size: 42px;
}

#scheduleLockedScreen #scheduleLockedMessage .scheduleLockedHeadline {
  font-size: var(--text-size-medium);
  color: var(--primary-color-on-primary-background);
  font-weight: 600;
  margin-bottom: 5px;
}

#scheduleLockedScreen #scheduleLockedMessage .scheduleLockedSubhedline {
  font-size: var(--text-size-default);
}
