#emailVerification .verification-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#emailVerification .verification-input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#emailVerification .verification-input {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: var(--text-size-button);
  border: 2px solid var(--action-item-background);
  border-radius: var(--border-radius-hot-key);
  outline: none;
  transition: border-color 0.3s;
}

#emailVerification .verification-input:focus {
  border-color: var(--submit-button-background-hover);
}

#emailVerification .verification-input::-webkit-inner-spin-button,
#emailVerification .verification-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#emailVerification h2 {
  text-align: center;
  font-weight: 600;
  font-size: var(--text-size-body);
  color: var(--primary-text-color);
  line-height: 1.2;
}

#emailVerification .verification-text-container {
  font-size: var(--text-size-default);
  line-height: var(--line-height-one-and-half);
  text-align: center;
  color: var(--primary-color-on-primary-background);
  max-width: 285px;
}

#emailVerification .outlinedButton {
  height: 32px;
}

#emailVerification .subScreenError {
  text-align: left;
  font-size: var(--text-size-default);
  margin-bottom: 15px;
  font-weight: lighter;
  color: var(--destruct-button-background);
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  line-height: var(--line-height-default);
}

#emailVerification .subScreenHeader {
  width: 100%;
  margin-bottom: 4px;
}

#emailVerification .instructionSubLabel {
  margin-bottom: 0;
}
