#mainScreen #topHeader {
  z-index: 20;
  position: relative;
}

#mainScreen #topHeader .firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainScreen #topHeader .topHeaderLeft {
  justify-content: flex-begin;
  display: flex;
  align-items: center;
}

#mainScreen #topHeader .topHeaderRight {
  position: relative;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

#mainScreen #topHeader .topHeaderCenter {
  width: calc(100% - 80px);
  color: var(--primary-color-on-primary-background);
  font-weight: 500;
  font-size: var(--text-size-body);
  text-align: center;
  background-image: var(--subscreen-navigation-title-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  justify-content: center;
  gap: 6.5px;
  align-items: center;
}

#mainScreen #topHeader .topHeaderButton {
  cursor: pointer;
}

#mainScreen .activeCategory i {
  transition: 0.15s;
}

#mainScreen[categoryPickerIsShowing="true"] .activeCategory i {
  transform: rotate(-180deg);
}

#mainScreen #topHeader .topHeaderButton i {
  color: var(--primary-color-on-primary-background);
  font-size: var(--text-size-button-icon);
  transition: 0.15s;
}

#mainScreen #topHeader .topHeaderLeft .topHeaderButton {
  margin-left: 15px;
}

#mainScreen #topHeader .toMoreButton {
  margin-left: 0 !important;
}

#mainScreen #topHeader .toMoreButton:hover i {
  color: var(--primary-color-on-primary-background-hover);
}

#mainScreen #topHeader #powerButton i {
  color: var(--destruct-button-background);
}

html[disabled="false"] #mainScreen #topHeader #powerButton i {
  color: var(--good-button-background);
}

html[disabled="false"] #mainScreen #topHeader #powerButton:hover i {
  color: var(--good-button-background-hover);
}

html[disabled="true"] #mainScreen #topHeader #powerButton:hover i {
  color: var(--destruct-button-background-hover);
}

#mainScreen #settingsContainer {
  box-sizing: border-box;
  overflow-y: scroll;
}

html[disabled="true"] #mainScreen #settingsContainer {
  display: none !important;
}

html[device="laptop"] #mainScreen #settingsContainer {
  max-height: 435px;
}

#mainScreen .collapsibleSectionHeader {
  padding: 5px 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: var(--text-size-label);
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--primary-color-on-primary-background);
  margin-bottom: 5px;
  margin-top: 0;
  padding-left: 15px;
  position: relative;
  transition: 0.15s;
}

#mainScreen .collapsibleSectionHeader:after {
  width: 20px;
  height: 20px;
  color: var(--primary-color-on-primary-background);
  cursor: pointer;
  font-family: "Font Awesome 6 Free";
  content: "\f078";
  transform: rotate(0);
  position: absolute;
  right: 15px;
  top: 5px;
}

#mainScreen .collapsibleSectionHeader:hover {
  opacity: 0.8;
}

#mainScreen .collapsibleSection[selected] .collapsibleSectionHeader:after {
  content: "\f077";
}

#mainScreen #activeCategoryButtonList .pickedCategory {
  display: none;
}

#mainScreen .collapsibleSection {
  display: none;
}
#mainScreen .optionCategorySelector .categoryPickerPopup .category:hover {
  background: #333541;
}

#mainScreen #activeCategoryButtonList .pickedCategory {
  color: #fff;
}

#mainScreen .collapsibleSection[selected] .settingsGroup {
  display: block;
}

#mainScreen[search_mode] .collapsibleSection .settingsGroup {
  display: block;
}

#mainScreen[search_mode] .collapsibleSectionHeader:after {
  display: none;
}

#mainScreen[search_mode] .collapsibleSectionHeader:hover {
  opacity: 1;
  cursor: default;
}

#mainScreen .settingsGroupBody {
  background-color: var(--elements-underlay-background);
  border-radius: var(--border-radius-sections);
  box-sizing: border-box;
  overflow: hidden;
}

#mainScreen .settingsGroup .optionWrapper {
  box-sizing: border-box;
}

#mainScreen .settingsGroup .optionWrapper {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#mainScreen .settingsGroup .optionWrapper .label {
  border-bottom: 1px solid var(--separator-color);
  padding: 10px 15px;
}

#mainScreen .radioButtons {
  text-align: left;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

#mainScreen .radioButtons label {
  font-size: var(--text-size-default);
  cursor: pointer;
  color: var(--primary-text-color);
  margin-left: 5px;
}

#mainScreen .radioButtons div {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

#mainScreen .radioButtons div:last-child {
  margin-right: 0;
}

#mainScreen .radioButtons input {
  cursor: pointer;
  margin-right: 5px;
  accent-color: var(--submit-button-background);
}

#mainScreen .optionWrapper .label .labelSpan {
  transition: 0.15s;
  color: var(--primary-text-color);
  line-height: var(--line-height-default);
}

#mainScreen .optionWrapper:hover .label .labelSpan {
  opacity: 0.8;
}

#mainScreen .optionWrapper .label {
  font-size: var(--text-size-default);
  text-align: left;
  transition: 0.15s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#mainScreen .colorPickerWrapper input {
  cursor: pointer;
}

#mainScreen .switchLabel {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  flex-shrink: 0;
}

#mainScreen .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#mainScreen .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--action-item-background);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#mainScreen .slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1.5px;
  bottom: 1.7px;
  background-color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#mainScreen .slider:hover {
  opacity: 0.9;
}

#mainScreen input:checked + .slider {
  background-color: var(--submit-button-background);
}

#mainScreen input:focus + .slider {
  box-shadow: 0 0 1px var(--submit-button-background);
}

#mainScreen input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

#mainScreen .slider.round {
  border-radius: var(--border-radius-slider);
}

#mainScreen .slider.round:before {
  border-radius: var(--border-radius-circle);
}

#mainScreen #search {
  position: relative;
}

html[disabled="true"] #mainScreen .firstLine .topHeaderCenter {
  visibility: hidden;
}

html[disabled="true"] #mainScreen .firstLine .topHeaderLeft {
  display: none !important;
}

#mainScreen #search .searchField {
  width: 100%;
  padding: 7px 10px;
  padding-right: 40px;
  padding-left: 31px;
  font-size: var(--text-size-default);
  box-sizing: border-box;
  border: none;
  border-radius: var(--border-radius-input);
  background: var(--elements-underlay-background);
  position: relative;
  color: var(--primary-text-color);
}

#mainScreen #search:after {
  color: var(--primary-color-on-primary-background);
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  font-size: var(--text-size-label);
  position: absolute;
  left: 10px;
  top: 7px;
  pointer-events: none;
}

#mainScreen #clearSearch {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  transition: 0.15s;
}

#mainScreen #clearSearch:after {
  color: var(--primary-color-on-primary-background);
  font-family: "Font Awesome 6 Free";
  content: "\f00d";
  font-size: var(--text-size-default);
  position: absolute;
  top: 5px;
  left: 7.5px;
}

#mainScreen #clearSearch:hover:after {
  color: var(--primary-color-on-primary-background-hover);
}

#mainScreen[search_mode] #clearSearch {
  display: block;
}

#mainScreen #searchMessage {
  padding: 30px 0 0 0;
  display: none;
}

#mainScreen #searchMessage .searchMessageIcon {
  color: var(--primary-color-on-primary-background);
  margin-bottom: 10px;
  font-size: var(--text-size-icon-large);
}

#mainScreen #searchMessage .searchMessageHeadline {
  font-size: var(--text-size-body);
  color: var(--primary-color-on-primary-background);
  font-weight: 500;
  margin-bottom: 5px;
  line-height: var(--line-height-medium);
}

#mainScreen #searchMessage .searchMessageSubhedline {
  font-size: var(--text-size-default);
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-message);
}

#mainScreen #disableMessage {
  display: none;
  padding: 0px 0 27px 0;
}

html[disabled="true"] #mainScreen #disableMessage {
  display: block;
}

#mainScreen #disableMessage .disableMessageIcon {
  color: var(--primary-color-on-primary-background);
  margin-bottom: 10px;
  font-size: var(--text-size-icon-large);
  width: 100%;
  text-align: center;
}

#mainScreen #disableMessage .disableMessageHeadline {
  font-size: var(--text-size-body);
  color: var(--primary-color-on-primary-background);
  font-weight: 500;
  margin-bottom: 5px;
  line-height: var(--line-height-medium);
  text-align: center;
}

#mainScreen #disableMessage .disableMessageSubhedline {
  font-size: var(--text-size-default);
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-message);
  text-align: center;
}

#mainScreen .optionsGroupTitle {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  padding-top: 20px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  position: sticky;
  padding-bottom: 10px;
  top: -10px;
  z-index: 20;
  background: var(--primary-background);
}

#mainScreen .collapsibleSection:not(:has(.optionsGroupTitle)) {
  padding-top: 20px;
}

#mainScreen input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--action-item-background);
  margin: 0;
  font: inherit;
  width: 13px;
  height: 13px;
  border-radius: var(--border-radius-circle);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  position: relative;
  top: 1px;
}

#mainScreen input[type="radio"]::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: var(--border-radius-circle);
  transform: scale(0);
  box-shadow: inset 1em 1em var(--submit-button-background);
}

#mainScreen input[type="radio"]:checked::before {
  transform: scale(1);
}

#mainScreen .selectSelect {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  font-size: var(--text-size-default);
  padding: 0 5px 1px 10px;
  box-shadow: none;
  background: 0 0 !important;
  color: var(--primary-color-on-primary-background);
  cursor: pointer;
  transition: 0.15s;
  text-align-last: right;
  overflow-y: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#mainScreen .selectContainer {
  color: var(--primary-color-on-primary-background);
  max-width: 50%;
}

#mainScreen #rangeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: var(--action-item-background);
  outline: none;
  border-radius: var(--border-radius-sections);
}

#mainScreen #rangeSlider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#mainScreen .segmentedPicker {
  width: 100%;
  background: var(--elements-underlay-background);
  display: flex;
  border-radius: var(--border-radius-sections);
  padding: 3px;
  box-sizing: border-box;
}

#mainScreen .segmentedPicker .option {
  width: 50%;
  font-size: var(--text-size-default);
  padding: 5px 0;
  cursor: pointer;
  border-radius: var(--border-radius-input);
  transition: 0.15s;
  color: var(--primary-text-color);
}

#mainScreen .segmentedPicker .option:not([active]):hover {
  opacity: 0.7;
}

#mainScreen .segmentedPicker .option[active] {
  background: var(--submit-button-background);
  color: #fff;
}

#mainScreen .secondLine {
  margin-top: 15px;
}

html[disabled="true"] #mainScreen .secondLine {
  display: none;
}

#mainScreen #topHeader {
  z-index: 30;
}

#mainScreen .optionCategorySelector {
}

#mainScreen .optionCategorySelector .activeCategory {
  width: 100%;
  padding: 7px 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: var(--text-size-default);
  box-sizing: border-box;
  border: none;
  border-radius: var(--border-radius-input);
  background: var(--submit-button-background);
  position: relative;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  transition: 0.15s;
}

#mainScreen .optionCategorySelector .activeCategory:hover {
  background: var(--submit-button-background-hover);
}

#mainScreen .optionCategorySelector .categoryPickerPopup {
  position: absolute;
  top: calc(100% - 10px);
  left: 0px;
  width: 100%;
  padding-top: 17px;
  box-sizing: border-box;
  background: #1d1d20;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 4px 12px #1d1d20;
  z-index: 10;
  padding-bottom: 7px;
  display: none;
}

#mainScreen[categoryPickerIsShowing="true"]
  .optionCategorySelector
  .categoryPickerPopup {
  display: block;
}

#mainScreen .optionCategorySelector .categoryPickerPopup .category {
  text-align: left;
  font-size: var(--text-size-default);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
}

#mainScreen[search_mode] #topHeader .secondLine {
  display: none !important;
}

#mainScreen[search_mode] #settingsContainerDefault {
  display: none;
}

#mainScreen .selectContainer {
  display: flex;
  align-items: center;
}

#mainScreen .settingsGroup .optionWrapper:has(+ .childOptionsWrapper) {
  background: var(--separator-color);
}

#mainScreen .settingsGroup .optionWrapper:last-child .label {
  border-bottom: none;
}

#mainScreen
  .settingsGroup
  .optionWrapper:has(input[type="checkbox"]:checked)
  ~ .childOptionsWrapper.childOffOptions {
  display: none;
}

#mainScreen
  .settingsGroup
  .optionWrapper:has(input[type="checkbox"]:not(:checked))
  ~ .childOptionsWrapper.childOnOptions {
  display: none;
}

[dir="rtl"] #mainScreen .optionWrapper .label {
  text-align: right;
}

[dir="rtl"] select {
  text-align-last: left !important;
}

[dir="rtl"] .switchLabel:has(input[type="checkbox"]) {
  transform: rotate(180deg);
}

[dir="rtl"] #mainScreen #search .searchField {
  padding-left: 40px;
  padding-right: 31px;
}

[dir="rtl"] #mainScreen #clearSearch {
  right: inherit;
  left: 5px;
}

[dir="rtl"] #mainScreen #search:after {
  left: inherit;
  right: 10px;
}

[dir="rtl"] #mainScreen .optionCategorySelector .categoryPickerPopup .category {
  text-align: right;
}

#mainScreen .turnOffPickerPopup {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 180px;
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  border-top-right-radius: 0px;
  box-shadow: 0 4px 12px #1d1d20;
  z-index: 10;
  display: none;
  overflow: hidden;
  z-index: 21;
}

#mainScreen .turnOffPickerPopup[active] {
  display: block;
}

#mainScreen .turnOffGroupTitle {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#mainScreen .turnOffPickerPopup .turnOffElement {
  text-align: left;
  font-size: var(--text-size-default);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  transition: 0.15s;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

#mainScreen .turnOffPickerPopup .turnOffElement:hover {
  background: #333541;
}

#mainScreen .turnOnPickerPopup {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 180px;
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  border-top-right-radius: 0px;
  box-shadow: 0 4px 12px #1d1d20;
  z-index: 10;
  display: none;
  overflow: hidden;
  z-index: 21;
}

#mainScreen .turnOnPickerPopup[active] {
  display: block;
}

#mainScreen .turnOnGroupTitle {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#mainScreen .turnOnPickerPopup .turnOnElement {
  text-align: left;
  font-size: var(--text-size-default);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  transition: 0.15s;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

#mainScreen .turnOnPickerPopup .turnOnElement:hover {
  background: #333541;
}

html[isPro="false"] #mainScreen .proButton {
  margin-top: 20px;
}
