#accountManageScreen .subScreenError {
  text-align: left;
  font-size: var(--text-size-default);
  font-weight: lighter;
  color: var(--destruct-button-background);
  display: none;
  padding-left: 15px;
  line-height: var(--line-height-default);
}

#accountManageScreen .textField {
  width: 100%;
  box-sizing: border-box;
  font-size: var(--text-size-default);
  padding: 10px 15px;
  background: var(--elements-underlay-background);
  border: 1px solid var(--elements-underlay-background);
  border-radius: var(--border-radius-input);
  color: var(--primary-text-color);
}

#accountManageScreen .modernFormBlockItemsWrapper {
  border-radius: var(--border-radius-sections);
  box-sizing: border-box;
  margin-bottom: 15px;
}

#accountManageScreen .textField.error {
  border-color: var(--destruct-button-background);
}

#accountManageScreen .resetButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

#accountManageScreen .resetButtonsWrapper span.invisible {
  visibility: hidden;
  display: none !important;
}

#accountManageScreen #passwordUnlockingPromptDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#accountManageScreen #passwordUnlockingResetDateDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#accountManageScreen .signUPtext {
  font-size: var(--text-size-default);
  color: var(--primary-text-color);
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}

#accountManageScreen .signUPtext span {
  color: var(--submit-button-background);
  transition: 0.15s;
  cursor: pointer;
}

#accountManageScreen .signUPtext span:hover {
  color: var(--submit-button-background-hover);
}

#accountManageScreen .updateEmailForm {
  margin-bottom: 15px;
}

#accountManageScreen .instructionLabel {
  text-align: left;
  font-size: var(--text-size-label);
  text-transform: uppercase;
  color: var(--primary-color-on-primary-background);
  padding-left: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

#accountManageScreen .subScreenError {
  text-align: left;
  font-size: var(--text-size-default);
  font-weight: lighter;
  color: var(--destruct-button-background);
  display: none;
  padding-left: 15px;
  line-height: var(--line-height-default);
}

#accountManageScreen .subScreenSucc {
  text-align: left;
  font-size: var(--text-size-default);
  font-weight: lighter;
  color: var(--good-button-background);
  display: none;
  padding-left: 15px;
  line-height: var(--line-height-default);
}

#accountManageScreen .subScreenNavigation #proLogOutButton {
  color: var(--primary-color-on-primary-background);
  cursor: pointer;
}

#accountManageScreen .subScreenNavigation #proLogOutButton:hover {
  color: var(--primary-color-on-primary-background-hover);
}
