#deleteAccountScreen .delete-account-description-text {
  font-size: var(--text-size-default);
  line-height: var(--line-height-one-and-half);
  text-align: center;
  color: var(--primary-color-on-primary-background);
}
