:root {
  color-scheme: light dark;
  --border-radius-default: 20px;
  --border-radius-input: 7px;
  --border-radius-sigment-picker: 10px;
  --border-radius-hot-key: 5px;
  --border-radius-pro-badge: 6px;
  --border-radius-link: 9px;
  --border-radius-slider: 34px;
  --border-radius-circle: 50%;
  --border-submit-button: 18px;

  --text-size-probadge: 11px;
  --text-size-label: 12px;
  --text-size-label-large: 13px;
  --text-size-default: 14px;
  --text-size-body: 16px;
  --text-size-medium: 18px;
  --text-size-button: 20px;
  --text-size-button-icon: 23px;
  --text-size-large: 24px;
  --text-size-icon-large: 34px;

  --line-height-body: 18px;
  --line-height-default: 20px;
  --line-height-message: 22px;
  --line-height-medium: 24px;
  --line-height-one-and-half: 1.5;
  --line-height-large: 40px;
}

body {
  font-family: system-ui;
  font-size: var(--text-size-body);
  line-height: var(--line-height-body);
  background-color: var(--primary-background);
  width: 375px;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20px;
  overflow-x: hidden;
}

html[device="laptop"] body {
  max-width: 375px;
}

html[browser="firefox"],
html[browser="firefox"] * {
  scrollbar-width: thin;
}

html[device="phone"] .onlyDesktop {
  display: none !important;
}

input::placeholder {
  color: var(--secondary-color-on-primary-background);
}

input[disabled] {
  color: var(--secondary-color-on-primary-background) !important;
  background: transparent !important;
}

/* Screens */

.appScreen {
  display: none;
  max-width: 345px;
}

html .appScreen[active] {
  display: block;
}

/* Browser Special */

/* Safari */

html[browser="safari"] .hideInSafari {
  display: none !important;
}

html[browser="safari"] .onlySafari {
  display: block !important;
}

html[browser="safari"] .onlySafari.onlyFlex {
  display: flex !important;
}

html[browser="safari"] .onlyChrome {
  display: none !important;
}

html[browser="safari"] .onlyFirefox {
  display: none !important;
}

/* Chrome */

html[browser="chrome"] .onlyChrome {
  display: block !important;
}

html[browser="chrome"] .onlySafari {
  display: none !important;
}

html[browser="chrome"] .onlyFirefox {
  display: none !important;
}

/* Firefox */

html[browser="firefox"] .onlyFirefox {
  display: block !important;
}

html[browser="firefox"] .onlySafari {
  display: none !important;
}

html[browser="firefox"] .onlyChrome {
  display: none !important;
}

html[myOtherApps="hide"] .myOtherApps {
  display: none !important;
}

.proButton {
  display: none;
}

html[isPro="false"] .proButton {
  background-blend-mode: screen, normal;
  text-decoration: none;
  padding: 15px;
  border-radius: var(--border-radius-default);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.proButton[gradient="1"] {
  background-image: linear-gradient(90deg, #a9cbff, #b39aff);
}

.proButton[gradient="2"] {
  background-image: linear-gradient(90deg, #ffc46c, #83ff81);
}

.proButton[gradient="3"] {
  background-image: linear-gradient(90deg, #aae0ff, #a3ffde);
}

.proButton[gradient="4"] {
  background-image: linear-gradient(90deg, #adffa6, #f6ff90);
}

.proButton[gradient="5"] {
  background-image: linear-gradient(90deg, #ffb6b6, #fff38d);
}

.proButton[gradient="6"] {
  background-image: linear-gradient(90deg, #8cddff, #ffd3c6);
}

.proButton[gradient="7"] {
  background-image: linear-gradient(90deg, #85bfff, #a0fff9);
}

.proButton[gradient="8"] {
  background-image: linear-gradient(90deg, #ffcdc6, #ce9dff);
}

.proButton[gradient="9"] {
  background-image: linear-gradient(90deg, #8cddff, #ffd3c6);
}

.proButton[gradient="10"] {
  background-image: linear-gradient(90deg, #6deb82, #8df3f3);
}

.proButton[gradient="11"] {
  background-image: linear-gradient(90deg, #fff19f, #fbc8b2);
}

.proButton[gradient="12"] {
  background-image: linear-gradient(90deg, #85bfff, #a0fff9);
}

.proButton[gradient="13"] {
  background-image: linear-gradient(90deg, #ffcdc6, #ce9dff);
}

.proButton[gradient="14"] {
  background-image: linear-gradient(90deg, #85bfff, #a0fff9);
}

.proButton[gradient="15"] {
  background-image: linear-gradient(90deg, #d4ff9c, #9ef9ff);
}

.proButton[gradient="16"] {
  background-image: linear-gradient(90deg, #d4ff9c, #9ef9ff);
}

.proButton .header {
  font-weight: 900;
  color: #000;
  padding-bottom: 5px;
}

.proButton .subheader {
  font-weight: 300;
  color: #000;
  font-size: var(--text-size-default);
}

.proButton i {
  color: #000;
  font-size: var(--text-size-large);
}

.pro-badge {
  display: none;
  background-image: linear-gradient(to right, #9179ed, #2c59ea);
  padding: 1px 6px;
  border-radius: var(--border-radius-pro-badge);
  font-size: var(--text-size-default);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--text-size-probadge);
  -webkit-text-fill-color: initial;
}

#proBadge {
  color: var(--primary-text-color);
}

html[isPro="true"] .pro-badge {
  display: block;
}

html[isLogin="false"] .pro-badge {
  display: none;
}

/* .rate-app-with-star,
.rate-app-review-prompt,
.rate-app-modal-overlay,
.rate-app-modal-not-now,
.rate-app-modal-actions,
.rate-app-modal-with-star-header-section,
.rate-app-modal-feedback-header-section {
  display: none;
}

.rate-app-modal-overlay[active] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 28, 29, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rate-app-with-star[active],
.rate-app-modal-not-now[active],
.rate-app-modal-with-star-header-section[active],
.rate-app-modal-feedback-header-section[active] {
  display: block;
}

.rate-app-review-prompt[active] {
  display: flex;
  flex-direction: column;
}

.rate-app-modal-content {
  background: white;
  padding: 20px 0 0 0;
  border-radius: var(--border-radius-sigment-picker);
  text-align: center;
  max-width: 300px;
  min-width: 225px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.rate-app-modal-header {
  padding: 0 30px;
}

.rate-app-modal-header img {
  margin-bottom: 10px;
}

.rate-app-modal-header p {
  color: #636366;
  margin-bottom: 16px;
  font-size: var(--text-size-label);
  font-weight: 500;
  line-height: 1.2;
}

.rate-app-modal-content:has(.rate-app-review-prompt[active])
  .rate-app-modal-header
  p {
  margin-bottom: 6px;
}

.rate-app-modal-header h2 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1d1d1f;
  line-height: 1.2;
}

.rate-app-rating {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.rate-app-modal-content:has(.rate-app-review-prompt[active]) .rate-app-rating {
  gap: 8px;
}

.rate-app-modal-content:not(:has(.rate-app-review-prompt[active]))
  .rate-app-rating {
  margin: 10px 0 0;
  padding: 8px 0;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}

.rate-app-star {
  font-size: var(--text-size-large);
  cursor: pointer;
  fill: none;
  stroke: #0070c9;
  width: 18px;
}

.rate-app-star.filled {
  fill: #0070c9;
}

.rate-app-modal-content:has(.rate-app-review-prompt[active])
  .rate-app-star.filled {
  fill: #ffd700;
  stroke: #ffd700;
}

.rate-app-modal-content:has(.rate-app-review-prompt[active])
  .rate-app-star:not(.filled) {
  display: none;
}

.rate-app-modal-actions[active] {
  display: flex;
  justify-content: space-between;
}

.rate-app-modal-actions button,
.rate-app-modal-not-now button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius-hot-key);
  cursor: pointer;
  width: calc(100% - 8px);
}

.rate-app-review-prompt {
  margin-top: 6px;
}

.rate-app-review-prompt button {
  padding: 10px 0;
  border-radius: var(--border-radius-hot-key);
  border: none;
  cursor: pointer;
  background: transparent;
  color: #0070c9;
}

.rate-app-review-prompt .write-review-button {
  border: 1px solid #eaeaea !important;
}

.rate-app-with-star-cancel,
.rate-app-with-star-submit {
  padding: 10px 0;
  background: transparent;
  color: #0070c9;
}

.rate-app-with-star-submit {
  border-left: 1px solid #eaeaea !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
} */

.bold {
  font-weight: 700;
}

.rate-app-feedback-star {
  font-size: var(--text-size-medium);
}
