/********************* Theme Colors *********************/

@media (prefers-color-scheme: light) {
  /* Light */

  html[theme="light"],
  html[theme="auto"] {
    --primary-background: #f6f6f6;

    --elements-underlay-background: #dfdfe4;

    --primary-color-on-primary-background: #6f6f79;
    --primary-color-on-primary-background-hover: #5b5b64;
    --secondary-color-on-primary-background: #878790;

    --submit-button-background: #1e64cf;
    --submit-button-background-hover: #0f51b7;
    --destruct-button-background: #de4639;
    --destruct-button-background-hover: #da291a;
    --good-button-background: #43bf35;
    --good-button-background-hover: #2ca91e;
    --outlined-button-hover: #ffffff14;

    --separator-color: #a2a5ad;

    --action-item-background: #b6b6bb;
    --action-item-background-hover: #7a7a87;

    --primary-text-color: #000;

    --disabled-color: #2a2a2f;
    --underlay-background-main-color: #0000001f;
    --underlay-background-outline-color: #0000000a;

    --submit-button-gradient: linear-gradient(#000000, #000000b3);
    --submit-button-color: #fff;

    --subscreen-navigation-title-color: linear-gradient(#000000, #00000099);

    --picked-category-color: #e2e2df;
    --picked-category-hover-color: #cccabe;

    --active-category-color: linear-gradient(#000000, #000000b3);
  }

  /* Dark */

  html[theme="dark"] body {
    --primary-background: #2c2c2e;
    --elements-underlay-background: #3c3d41;

    --primary-color-on-primary-background: #b9b9bd;
    --primary-color-on-primary-background-hover: #96969d;
    --secondary-color-on-primary-background: #a4a4aa;

    --submit-button-background: #1e64cf;
    --submit-button-background-hover: #0f51b7;
    --destruct-button-background: #ef6a5e;
    --destruct-button-background-hover: #de4f42;
    --good-button-background: #60c454;
    --good-button-background-hover: #48b13b;
    --outlined-button-hover: #ffffff14;

    --separator-color: #57585b;

    --action-item-background: #9797a1;
    --action-item-background-hover: #7a7a87;

    --primary-text-color: #ffffff;
    --underlay-background-main-color: #ffffff1f;
    --underlay-background-outline-color: #ffffff0a;

    --submit-button-gradient: linear-gradient(#fff, #ffffffb3);
    --submit-button-color: #000;

    --subscreen-navigation-title-color: linear-gradient(#fff, #fff9);

    --picked-category-color: #1d1d20;
    --picked-category-hover-color: #333541;

    --active-category-color: linear-gradient(#ffffff, #ffffffb3);
  }
}

@media (prefers-color-scheme: dark) {
  /* Dark */

  html[theme="dark"],
  html[theme="auto"] {
    --primary-background: #2c2c2e;
    --elements-underlay-background: #3c3d41;

    --primary-color-on-primary-background: #b9b9bd;
    --primary-color-on-primary-background-hover: #96969d;
    --secondary-color-on-primary-background: #a4a4aa;

    --submit-button-background: #1e64cf;
    --submit-button-background-hover: #0f51b7;
    --destruct-button-background: #ef6a5e;
    --destruct-button-background-hover: #de4f42;
    --good-button-background: #60c454;
    --good-button-background-hover: #48b13b;
    --outlined-button-hover: #ffffff14;

    --separator-color: #57585b;

    --action-item-background: #92929f;
    --action-item-background-hover: #7a7a87;

    --primary-text-color: #ffffff;
    --underlay-background-main-color: #ffffff1f;
    --underlay-background-outline-color: #ffffff0a;

    --submit-button-gradient: linear-gradient(#fff, #ffffffb3);
    --submit-button-color: #000;

    --subscreen-navigation-title-color: linear-gradient(#fff, #fff9);

    --picked-category-color: #1d1d20;
    --picked-category-hover-color: #333541;

    --active-category-color: linear-gradient(#ffffff, #ffffffb3);
  }

  /* Light */

  html[theme="light"] {
    --primary-background: #f6f6f6;
    --elements-underlay-background: #dfdfe4;

    --primary-color-on-primary-background: #6f6f79;
    --primary-color-on-primary-background-hover: #5b5b64;
    --secondary-color-on-primary-background: #878790;

    --submit-button-background: #1e64cf;
    --submit-button-background-hover: #0f51b7;
    --destruct-button-background: #de4639;
    --destruct-button-background-hover: #da291a;
    --good-button-background: #43bf35;
    --good-button-background-hover: #2ca91e;
    --outlined-button-hover: #ffffff14;

    --separator-color: #a2a5ad;

    --action-item-background: #b6b6bb;
    --action-item-background-hover: #7a7a87;

    --primary-text-color: #000;
    --underlay-background-main-color: #0000001f;
    --underlay-background-outline-color: #0000000a;

    --submit-button-gradient: linear-gradient(#000000, #000000b3);
    --submit-button-color: #fff;

    --subscreen-navigation-title-color: linear-gradient(#000000, #00000099);

    --picked-category-color: #e2e2df;
    --picked-category-hover-color: #cccabe;

    --active-category-color: linear-gradient(#000000, #000000b3);
  }
}

/********************* Theme Colors *********************/

/********************* Elements *********************/

/** Subscreen Title & Subtitle **/

.subScreenNavigation {
  display: flex;
  align-items: center;
  position: relative;
}

.subScreenNavigation .subScreenTitle {
  font-size: var(--text-size-body);
  line-height: var(--line-height-medium);
  text-align: center;
  width: 100%;
  padding: 0 25px;
  width: 100%;
  box-sizing: border-box;
  line-height: var(--line-height-medium);

  background-image: var(--subscreen-navigation-title-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/** Back Button **/

.subScreenNavigation .backButton {
  color: var(--primary-color-on-primary-background);
  transition: 0.15s;
  font-size: var(--text-size-button);
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: var(--line-height-medium);
}

.subScreenNavigation .backButton:hover {
  opacity: 0.8;
}

.subScreenHeader {
  margin-bottom: 20px;
}

.subScreenNavigation .infoButton {
  color: var(--primary-color-on-primary-background);
  transition: 0.15s;
  font-size: var(--text-size-button);
  cursor: pointer;
  line-height: var(--line-height-medium);
  position: absolute;
  top: 0px;
  right: 0px;
}

.subScreenNavigation .infoButton:hover {
  opacity: 0.8;
}

.subScreenInfo {
  font-size: var(--text-size-label-large);
  text-align: center;
  line-height: var(--line-height-default);
  padding: 15px;
  position: absolute;
  width: 100%;
  right: 0px;
  top: 30px;
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  box-shadow: 0 4px 12px #1d1d20;
  display: none;
  z-index: 15;
  color: #ffffff;
}

.subScreenInfo[active] {
  display: block;
}

/** Submit Button **/

.submitButton {
  background: none;
  border: none;
  box-shadow: none;

  width: 100%;
  font-size: var(--text-size-default);
  color: var(--submit-button-color);
  font-weight: 400;
  padding: 10px 15px;
  text-transform: capitalize;
  position: sticky;
  cursor: pointer;
  text-align: center;
  border-radius: var(--border-submit-button);
  background-blend-mode: screen, normal;
  background-image: var(--submit-button-gradient);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.submitButton:hover {
  transform: scale(1.02);
}

.submitButton:active {
  transform: scale(1);
}

.submitButton[disabled],
.outlinedButton[disabled] {
  background-color: var(--elements-underlay-background);
  color: var(--secondary-color-on-primary-background);
  cursor: default;
}

.submitButton[disabled]:hover {
  transform: scale(1);
}

.bottomButtonsWrapper {
  margin-top: 15px;
}

.bottomButtonsWrapper .doubled {
  display: flex;
  justify-content: space-between;
}

.bottomButtonsWrapper .activeState {
  display: none;
}

.bottomButtonsWrapper[active] .activeState {
  display: flex;
}

.bottomButtonsWrapper[active] .inactiveState {
  display: none;
}

.bottomButtonsWrapper .doubled .submitButton {
  width: calc(50% - 5px);
}

/** Outlined Button **/

.outlinedButton {
  background: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  height: 40px;
  outline: 0;
  font-size: var(--text-size-default);
  border-radius: var(--border-radius-sigment-picker);
  cursor: pointer;
  transition: 0.15s;
  padding: 0 15px;
  box-sizing: border-box;
  color: var(--primary-text-color);
}

.outlinedButton:not([disabled]):hover {
  background: var(--outlined-button-hover);
}

.outlinedButton:not([disabled]):active {
  background: var(--submit-button-background);
}

/** PRO Modal **/

#proModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  box-shadow: 0 4px 12px #1d1d20;
  font-size: var(--text-size-default);
  padding: 20px;
  width: calc(100% - 60px);
  z-index: 220;
}

#proModal .infoText {
  font-size: var(--text-size-label-large);
  text-align: center;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
}

#proModal .openAppButton {
  width: 100%;
  background: var(--submit-button-background);
  border: none;
  height: 40px;
  outline: 0;
  font-size: var(--text-size-default);
  border-radius: var(--border-radius-sigment-picker);
  cursor: pointer;
  transition: 0.15s;
  padding: 0 15px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  line-height: var(--line-height-large);
  text-decoration: none;
  margin-top: 15px;
  text-align: center;
}

#proModal .openAppButton:hover {
  background: var(--submit-button-background-hover);
}

.proModalIsShowing #proModal {
  display: block;
}

.proModalIsShowing {
  min-height: 230px;
}

.instructionLabel {
  font-size: var(--text-size-label);
  text-transform: uppercase;
  color: var(--primary-color-on-primary-background);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2px;
  font-weight: 500;
}

.instructionSubLabel {
  font-size: var(--text-size-label-large);
  color: var(--secondary-color-on-primary-background);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.underlayBackground {
  backdrop-filter: blur(10px);
  outline-offset: 0px;
  outline: 1.5px solid var(--underlay-background-main-color);
  background-color: var(--underlay-background-outline-color);
}

/** Destruct Button **/

.destructionButton {
  background: var(--destruct-button-background);
  background-color: var(--destruct-button-background);
}

.destructionButton:hover {
  background: var(--destruct-button-background-hover);
  background-color: var(--destruct-button-background-hover);
}

.textField {
  width: 100%;
  box-sizing: border-box;
  font-size: var(--text-size-default);
  padding: 10px 15px;
  border: 1px solid var(--elements-underlay-background);
  border-radius: var(--border-radius-default);
  color: var(--primary-text-color);
}

.textField.error {
  border-color: var(--destruct-button-background);
}

.modernFormBlockItemsWrapper {
  border-radius: var(--border-radius-default);
  box-sizing: border-box;
  margin-bottom: 15px;
}

#moreScreen .popUpMenuList .leadingPart i {
  color: var(--primary-text-color);
}

.screenWithOptions .settingsGroup .optionWrapper .label,
#contentFilterScreen
  .modernFormBlockItemsWrapper
  .modernFormBlockItem:has(.switchLabel),
#moreScreen .popUpListGroupBody .popUpMenuList {
  border-bottom: 0.5px solid var(--underlay-background-main-color);
}
