:root {
  color-scheme: light dark;

  --border-radius-sections: 20px;
  --border-radius-input: 7px;
  --border-radius-button: 10px;
  --border-radius-hot-key: 5px;
  --border-radius-pro-badge: 6px;
  --border-radius-link: 9px;
  --border-radius-slider: 34px;
  --border-radius-circle: 50%;

  --text-size-probadge: 11px;
  --text-size-label: 12px;
  --text-size-label-large: 13px;
  --text-size-default: 14px;
  --text-size-body: 16px;
  --text-size-medium: 18px;
  --text-size-button: 20px;
  --text-size-button-icon: 23px;
  --text-size-large: 24px;
  --text-size-icon-large: 34px;

  --line-height-body: 18px;
  --line-height-default: 20px;
  --line-height-message: 22px;
  --line-height-medium: 24px;
  --line-height-one-and-half: 1.5;
  --line-height-large: 40px;
}

body {
  font-family: system-ui;
  font-size: var(--text-size-body);
  line-height: var(--line-height-body);
  background-color: var(--primary-background);
  width: 375px;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

html[device="laptop"] body {
  max-width: 375px;
}

html[device="phone"] .onlyDesktop {
  display: none !important;
}

html[browser="firefox"],
html[browser="firefox"] * {
  scrollbar-width: thin;
}

input::placeholder {
  color: var(--secondary-color-on-primary-background);
}

input[disabled] {
  color: var(--secondary-color-on-primary-background) !important;
  background: transparent !important;
}

/* Screens */

.appScreen {
  display: none;
  max-width: 345px;
}

html .appScreen[active] {
  display: block;
}

/* Browser Special */

/* Safari */

html[browser="safari"] .hideInSafari {
  display: none !important;
}

html[browser="safari"] .onlySafari {
  display: block !important;
}

html[browser="safari"] .onlySafari.onlyFlex {
  display: flex !important;
}

html[browser="safari"] .onlyChrome {
  display: none !important;
}

html[browser="safari"] .onlyFirefox {
  display: none !important;
}

/* Chrome */

html[browser="chrome"] .onlyChrome {
  display: block !important;
}

html[browser="chrome"] .onlySafari {
  display: none !important;
}

html[browser="chrome"] .onlyFirefox {
  display: none !important;
}

/* Firefox */

html[browser="firefox"] .onlyFirefox {
  display: block !important;
}

html[browser="firefox"] .onlySafari {
  display: none !important;
}

html[browser="firefox"] .onlyChrome {
  display: none !important;
}

html[myOtherApps="hide"] .myOtherApps {
  display: none !important;
}

#syncMessage {
  z-index: 40;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  box-shadow: 0 4px 12px #1d1d20;
  font-size: var(--text-size-default);
  padding: 20px;
  display: none;
}

.mbott {
  margin-bottom: 15px;
}

.proButton {
  display: none;
}

html[isPro="false"] .proButton {
  background-blend-mode: screen, normal;
  text-decoration: none;
  padding: 15px;
  border-radius: var(--border-radius-sections);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.proButton[gradient="1"] {
  background-image: linear-gradient(90deg, #a9cbff, #b39aff);
}

.proButton[gradient="2"] {
  background-image: linear-gradient(90deg, #ffc46c, #83ff81);
}

.proButton[gradient="3"] {
  background-image: linear-gradient(90deg, #aae0ff, #a3ffde);
}

.proButton[gradient="4"] {
  background-image: linear-gradient(90deg, #adffa6, #f6ff90);
}

.proButton[gradient="5"] {
  background-image: linear-gradient(90deg, #ffb6b6, #fff38d);
}

.proButton[gradient="6"] {
  background-image: linear-gradient(90deg, #8cddff, #ffd3c6);
}

.proButton[gradient="7"] {
  background-image: linear-gradient(90deg, #85bfff, #a0fff9);
}

.proButton[gradient="8"] {
  background-image: linear-gradient(90deg, #ffcdc6, #ce9dff);
}

.proButton[gradient="9"] {
  background-image: linear-gradient(90deg, #8cddff, #ffd3c6);
}

.proButton[gradient="10"] {
  background-image: linear-gradient(90deg, #6deb82, #8df3f3);
}

.proButton[gradient="11"] {
  background-image: linear-gradient(90deg, #fff19f, #fbc8b2);
}

.proButton[gradient="12"] {
  background-image: linear-gradient(90deg, #85bfff, #a0fff9);
}

.proButton[gradient="13"] {
  background-image: linear-gradient(90deg, #ffcdc6, #ce9dff);
}

.proButton[gradient="14"] {
  background-image: linear-gradient(90deg, #85bfff, #a0fff9);
}

.proButton[gradient="15"] {
  background-image: linear-gradient(90deg, #d4ff9c, #9ef9ff);
}

.proButton[gradient="16"] {
  background-image: linear-gradient(90deg, #d4ff9c, #9ef9ff);
}

.proButton .header {
  font-weight: 900;
  color: #000;
  padding-bottom: 5px;
}

.proButton .subheader {
  font-weight: 300;
  color: #000;
  font-size: var(--text-size-default);
}

.proButton i {
  color: #000;
  font-size: var(--text-size-large);
}

.pro-badge {
  display: none;
  background-image: linear-gradient(to right, #9179ed, #2c59ea);
  padding: 1px 6px;
  border-radius: var(--border-radius-pro-badge);
  font-size: var(--text-size-default);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--text-size-probadge);
  -webkit-text-fill-color: initial;
  color: var(--primary-text-color);
}

html[isPro="true"] .pro-badge {
  display: block;
}

html[isLogin="false"] .pro-badge {
  display: none;
}
