/* MARK: - Theme Variables */
html {
  --primary-background: #141414;
  --main-border-color: #ffffff29;
  --spinner-color: #1e64cf;
  --tabs-background-color: #ffffff14;
  --selected-tab-background-color: #333;
  --box-shadow: #0000001f;
  --untrap-icon-color: #ffffff52;
  --selected-icon-color: #f1f1f1;
  --hover-icon-color: #ffffffa3;
  --text-color: #f1f1f1;
  --timestamp-color: #3ea6ff;
  --button-background: #0000000d;
  --button-hover: #0000001a;
  --translate-language-button-color: #1d1d1d;
  --translate-language-abbreviation-color: #ffffff7a;
  --translate-language-item-abbreviation-color: #424242;
  --translate-language-item-name-color: #797979;
  --translate-language-item-background-color: #1f1f1f;
  --input-background: #3c3d41;
  --submit-button-hover: #0f51b7;
  --destruct-button-background: #ef6a5e;
  --text-highlight: #3d2c14;
  --action-item-background: #9797a1;
  --action-item-background-hover: #7a7a87;
  --success-copy-icon-color: #43a047;
  --success-background-color: #31b43e1f;
  --disabled-button-text: #a4a4aa;
  --description-text-color: #b9b9bd;
  --summarize-button-selected-icon-color: #0f0f0f;

  --border-radius-default: 20px;
  --border-radius-input: 7px;
  --border-radius-outline-button: 10px;
  --border-radius-verification-input: 5px;
  --border-radius-selector: 6px;
  --border-radius-link: 9px;
  --border-radius-slider: 34px;
  --border-radius-circle: 50%;
  --border-submit-button: 18px;
  --border-radius-selector-menu-item: 4px;
  --border-radius-tabs-element: 8px;
  --border-radius-tabs-container: 12px;

  --text-size-label-large: 13px;
  --text-size-default: 14px;
  --text-size-body: 16px;
  --text-size-medium: 18px;
  --text-size-small-heading: 20px;
  --text-size-large-heading: 24px;
  --text-size-key-bullet: 25px;
  --text-size-icon-large: 34px;

  --line-height-default: 20px;
  --line-height-message: 22px;
  --line-height-bullet-point: 25px;
  --line-height-medium: 24px;
  --line-height-small-heading: 26px;
  --line-height-one-and-half: 1.5;
  --line-height-large: 36px;
  /* --primary-background: #ffffff;
  --main-border-color: #ebebeb;
  --spinner-color: #1e64cf;
  --tabs-background-color: #f5f5f5;
  --selected-tab-background-color: #fff;
  --box-shadow: #0000001f;
  --untrap-icon-color: #00000052;
  --selected-icon-color: #0f0f0f;
  --hover-icon-color: #0000007a;
  --text-color: #0f0f0f;
  --timestamp-color: #3ea6ff;
  --button-background: #f2f2f2;
  --button-hover: #e5e5e5;
  --translate-language-button-color: #f5f5f5;
  --translate-language-abbreviation-color: #00000052;
  --translate-language-item-abbreviation-color: #e1e1e1;
  --translate-language-item-name-color: #797979;
  --translate-language-item-background-color: #fff;
  --input-background: #dfdfe4;
  --submit-button-hover: #0f51b7;
  --destruct-button-background: #ef6a5e;
  --text-highlight: #ffebd1;
  --action-item-background: #b6b6bb;
  --action-item-background-hover: #7a7a87;
  --success-copy-icon-color: #43a047;
  --success-background-color: #31b43e1f;
  --disabled-button-text: #878790;
  --description-text-color: #6f6f79; */
}

html[yt-dark-theme] {
  --button-background: #ffffff1a;
  --button-hover: #403f3f;
  --summarize-button-selected-icon-color: #f1f1f1;
}

/* html[untrap_summarize_theme_color="dark"] {
  --primary-background: #141414;
  --main-border-color: #ffffff29;
  --spinner-color: #1e64cf;
  --tabs-background-color: #ffffff14;
  --selected-tab-background-color: #333;
  --box-shadow: #0000001f;
  --untrap-icon-color: #ffffff52;
  --selected-icon-color: #f1f1f1;
  --hover-icon-color: #ffffffa3;
  --text-color: #f1f1f1;
  --timestamp-color: #3ea6ff;
  --button-background: #ffffff1a;
  --button-hover: #403f3f;
  --translate-language-button-color: #1d1d1d;
  --translate-language-abbreviation-color: #ffffff7a;
  --translate-language-item-abbreviation-color: #424242;
  --translate-language-item-name-color: #797979;
  --translate-language-item-background-color: #1f1f1f;
  --input-background: #3c3d41;
  --submit-button-hover: #0f51b7;
  --destruct-button-background: #ef6a5e;
  --text-highlight: #3d2c14;
  --action-item-background: #9797a1;
  --action-item-background-hover: #7a7a87;
  --success-copy-icon-color: #43a047;
  --success-background-color: #31b43e1f;
  --disabled-button-text: #a4a4aa;
  --description-text-color: #b9b9bd;
} */

/* MARK: - Animation Keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* MARK: - Reset */

#videoSummarizeContainer p {
  margin: 0 !important;
}

/* MARK: - Reusable Styles */

.underlayBackground {
  backdrop-filter: blur(10px);
  outline-offset: 0px;
  outline: 1.5px solid #ffffff1f;
  background-color: #ffffff0a;
}

#videoSummarizeContainer strong {
  font-weight: 700 !important;
}

#videoSummarizeContainer .textField {
  width: 100% !important;
  box-sizing: border-box !important;
  font-size: var(--text-size-default) !important;
  padding: 10px 15px !important;
  background: var(--input-background) !important;
  border: 1px solid var(--input-background) !important;
  border-radius: var(--border-submit-button) !important;
  color: var(--selected-icon-color) !important;
  outline: none !important;
}

#videoSummarizeContainer .textField:focus {
  border: 1px solid var(--input-background) !important;
}

#videoSummarizeContainer .modernFormBlockItemsWrapper {
  border-radius: var(--border-radius-outline-button) !important;
  box-sizing: border-box !important;
  margin-bottom: 15px !important;
}

/* MARK: - Main Container Styles */

#videoSummarizeContainer {
  font-family: "Roboto", Arial, sans-serif !important;
  display: none !important;
  flex-direction: column !important;
  height: 600px !important;
  border: 1px solid var(--main-border-color) !important;
  overflow: auto !important;
  border-radius: var(--border-radius-default) !important;
  margin: 13px 13px 8px 13px !important;
  background-color: var(--primary-background) !important;
  overflow-x: hidden !important;
}

#videoSummarizeContainer[isShow] {
  display: flex !important;
}

#videoSummarizeContainer:has(#plusPlan) {
  height: 100% !important;
}

/* MARK: - Content and Settings Containers */

#videoSummarizeContainer .content-container,
#videoSummarizeContainer .settings-container {
  display: none !important;
  position: relative !important;
  flex-grow: 1 !important;
  overflow-y: auto !important;
  padding: 12px !important;
  max-height: 504px !important;
  overflow-x: hidden !important;
}

#videoSummarizeContainer .content-container {
  min-height: auto !important;
}

#videoSummarizeContainer .content-container:has(#privacyPolicy[active]),
#videoSummarizeContainer
  .content-container:has(#signUpPrivacyPolicyScreen[active]) {
  max-height: 100% !important;
}

#videoSummarizeContainer .settings-container {
  min-height: 128px !important;
}

#videoSummarizeContainer .content-container[active],
#videoSummarizeContainer .settings-container[active] {
  display: block !important;
}

/* MARK: - Language Settings and Selector */

#videoSummarizeContainer .language-settings {
  position: relative !important;
}

#videoSummarizeContainer .selector {
  display: flex !important;
  align-items: center !important;
  background: var(--translate-language-button-color) !important;
  border: none !important;
  border-radius: var(-border-radius-selector) !important;
  color: var(--text-color) !important;
  font-size: var(--text-size-body) !important;
  font-weight: 400 !important;
  gap: 8px !important;
  line-height: var(--line-height-default) !important;
  padding: 4px 10px !important;
  width: fit-content !important;
  cursor: pointer !important;
}

#videoSummarizeContainer .selector .language-abbreviation {
  text-transform: uppercase !important;
  color: var(--untrap-icon-color) !important;
}

/* MARK: - Spinner Styles */

#videoSummarizeContainer .untrap-spinner {
  height: 50px !important;
  width: 50px !important;
  border: 5px solid transparent !important;
  border-top: 5px solid var(--spinner-color) !important;
  border-radius: var(--border-radius-circle) !important;
  animation: spin 1s linear infinite !important;
  position: absolute !important;
  top: calc(49% - 25px) !important;
  left: calc(49% - 25px) !important;
  z-index: 10 !important;
}

#videoSummarizeContainer .load-more-translate-container .untrap-spinner {
  display: none !important;
  height: 20px !important;
  width: 20px !important;
  margin: 0 auto !important;
  position: static !important;
}

#videoSummarizeContainer .load-more-translate-container .untrap-spinner[show] {
  display: block !important;
}

/* MARK: - Tabs */

#videoSummarizeContainer .tabs-content-container {
  display: flex !important;
  align-items: center !important;
}

#videoSummarizeContainer .tabs-container {
  display: flex !important;
  align-items: center !important;
  background: var(--tabs-background-color) !important;
  border-radius: var(--border-radius-tabs-container) !important;
  padding: 4px !important;
  width: auto !important;
}

#videoSummarizeContainer .tabs-element {
  height: 22px !important;
  cursor: pointer !important;
  padding: 6px 16px !important;
  display: flex !important;
  position: relative !important;
  align-items: center !important;
}

#videoSummarizeContainer .tabs-element[select] {
  background: var(--selected-tab-background-color) !important;
  border-radius: var(--border-radius-tabs-element) !important;
  box-shadow: 0 1px 4px 0 var(--box-shadow) !important;
}

#videoSummarizeContainer .tabs-element:not(:first-child)::before {
  content: "";
  position: absolute !important;
  border-left: 1px solid var(--selected-tab-background-color) !important;
  height: 17px !important;
  left: -0.6px !important;
  display: block !important;
}

#videoSummarizeContainer .tabs-element[select]::before {
  display: none !important;
}

#videoSummarizeContainer .tabs-element path {
  fill: var(--untrap-icon-color) !important;
}

#videoSummarizeContainer .tabs-element:not([select]):hover path {
  fill: var(--hover-icon-color) !important;
}

#videoSummarizeContainer .tabs-element[select] path {
  fill: var(--selected-icon-color) !important;
}

#videoSummarizeContainer #timestamps-icon path {
  stroke: var(--untrap-icon-color) !important;
}

#videoSummarizeContainer
  .tabs-element:not([select]):hover
  #timestamps-icon
  path {
  stroke: var(--hover-icon-color) !important;
}

#videoSummarizeContainer .tabs-element[select] #timestamps-icon path {
  stroke: var(--selected-icon-color) !important;
}

/* MARK: - Video Summarize and Close Container */

#videoSummarizeContainer .video-summarize-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 8px 12px !important;
  flex-shrink: 0 !important;
  border-bottom: 1px solid var(--main-border-color) !important;
}

#videoSummarizeContainer .close-container:has(.close-container-title) {
  width: 100% !important;
  position: relative !important;
}

#videoSummarizeContainer .close-container-title {
  position: absolute !important;
  top: 7px !important;
  left: calc(50% - 157px / 2) !important;
  font-size: var(--text-size-medium) !important;
  font-weight: 300 !important;
  color: var(--text-color) !important;
}

#videoSummarizeContainer .close-container path {
  fill: var(--selected-icon-color) !important;
}

#videoSummarizeContainer .close-container svg {
  width: 32px !important;
  height: 32px !important;
  cursor: pointer !important;
  transform: rotate(135deg) !important;
}

/* MARK: - Typography */

#videoSummarizeContainer span {
  color: var(--text-color) !important;
  font-size: var(--text-size-body) !important;
  line-height: var(--line-height-one-and-half) !important;
  white-space: break-spaces !important;
  font-weight: 400 !important;
}

#videoSummarizeContainer span::first-letter {
  text-transform: capitalize !important;
}

#videoSummarizeContainer h2 {
  color: var(--text-color) !important;
  font-size: var(--text-size-large-heading) !important;
  font-weight: 800 !important;
  line-height: var(--line-height-large) !important;
  margin-bottom: 12px !important;
  margin-top: 0 !important;
  letter-spacing: -0.64px !important;
  display: block !important;
  max-height: 100% !important;
}

#videoSummarizeContainer h3 {
  font-size: var(--text-size-medium) !important;
  font-weight: 600 !important;
  line-height: var(--line-height-small-heading) !important;
  color: var(--text-color) !important;
  display: block !important;
  max-height: 100% !important;
}

#videoSummarizeContainer h4 {
  font-size: var(--text-size-default) !important;
  font-weight: 400 !important;
  line-height: var(--line-height-message) !important;
  color: var(--hover-icon-color) !important;
  letter-spacing: 0.7px !important;
  margin-bottom: 4px !important;
  text-transform: uppercase !important;
  display: block !important;
  max-height: 100% !important;
}

#videoSummarizeContainer #timeStampFormattedTime {
  color: var(--timestamp-color) !important;
  cursor: pointer !important;
  margin-right: 4px !important;
}

#videoSummarizeContainer .instructionSubLabel {
  font-size: var(--text-size-label-large) !important;
  color: var(--disabled-button-text) !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  text-align: center !important;
}

/* MARK: - Lists */

#videoSummarizeContainer ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

#videoSummarizeContainer li {
  margin: 16px 0 !important;
}

#videoSummarizeContainer #key-insight-summary-container li {
  margin: 0 !important;
}

#videoSummarizeContainer #key-insight-summary-container li[grouped] {
  margin-bottom: 12.5px !important;
}

#videoSummarizeContainer #key-insight-summary-container li[grouped]:last-child {
  margin: 0 !important;
}

/* MARK: - Transcript Language Selector */

#videoSummarizeContainer .transcript-language-selector-container {
  display: block !important;
  margin-left: 8px !important;
  position: relative !important;
}

#videoSummarizeContainer .transcript-language-button svg {
  transform: rotate(135deg) !important;
}

#videoSummarizeContainer .selector-menu {
  display: none !important;
  margin-top: 8px !important;
  background: var(--translate-language-item-background-color) !important;
  border: 1px solid var(--tabs-background-color) !important;
  border-radius: var(--border-radius-tabs-container) !important;
  bottom: calc(100% + 8px) !important;
  box-shadow: 0 8px 20px -8px rgba(0, 0, 0, 0.12) !important;
  flex-direction: column !important;
  height: 252px !important;
  overflow-y: scroll !important;
  padding: 8px 4px !important;
  width: 205px !important;
  z-index: 102 !important;
}

#videoSummarizeContainer .selector-menu[id="bullet-point-menu"] {
  height: auto !important;
}

#videoSummarizeContainer .selector-menu[show] {
  display: flex !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-radius: var(--border-radius-selector-menu-item) !important;
  height: 28px !important;
  margin: 3px 0 !important;
  padding: 6px 8px !important;
  cursor: pointer !important;
}

#videoSummarizeContainer
  .selector-menu[id="bullet-point-menu"]
  .selector-menu-item {
  height: 24px !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item:hover {
  background-color: var(--tabs-background-color) !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item[select] label {
  color: var(--translate-language-abbreviation-color) !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item[select] span {
  color: var(--text-color) !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item[select] i path {
  stroke: var(--text-color) !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item label {
  color: var(--translate-language-item-abbreviation-color) !important;
  font-size: var(--text-size-body) !important;
  font-weight: 400 !important;
  line-height: var(--line-height-default) !important;
  margin-right: 8px !important;
  text-transform: uppercase !important;
}

#videoSummarizeContainer .selector-menu .selector-menu-item span {
  color: var(--translate-language-item-name-color) !important;
}

/* MARK: - Comments */

#videoSummarizeContainer .top-comments-item-container {
  display: flex !important;
  margin: 0 0 16px !important;
}

#videoSummarizeContainer .top-comments-item-author-image {
  border-radius: var(--border-radius-default) !important;
  height: 32px !important;
  width: 32px !important;
  margin-right: 12px !important;
  cursor: pointer !important;
}

#videoSummarizeContainer .top-comments-item-author-link {
  cursor: pointer !important;
  color: var(--text-color) !important;
  font-weight: 800 !important;
  font-size: var(--text-size-default) !important;
  letter-spacing: 0.14px !important;
  line-height: var(--line-height-default) !important;
  text-decoration: none !important;
}

#videoSummarizeContainer .top-comments-item-content-header path {
  fill: var(--text-color) !important;
}

#videoSummarizeContainer .top-comments-item-content {
  flex-grow: 1 !important;
}

#videoSummarizeContainer .top-comments-item-content-header {
  display: flex !important;
  align-items: center !important;
  justify-content: stretch !important;
  margin-bottom: 4px !important;
  line-height: var(--line-height-default) !important;
}

#videoSummarizeContainer .top-comments-item-likes {
  display: flex !important;
  align-items: center !important;
  font-size: var(--text-size-default) !important;
}

#videoSummarizeContainer .top-comments-item-likes svg {
  margin: 0 4px !important;
  padding-top: 4px !important;
}

#videoSummarizeContainer span.top-comments-item-likes-count {
  font-size: var(--text-size-default) !important;
  color: var(--hover-icon-color) !important;
}

#videoSummarizeContainer .top-comments-item-content-text span {
  color: var(--text-color) !important;
  font-size: var(--text-size-body) !important;
  line-height: var(--line-height-default) !important;
  letter-spacing: -0.08px !important;
  white-space: pre-line !important;
}

/* MARK: - Summarize Button */

#summarizeButtonContainer {
  display: flex !important;
  justify-content: flex-end !important;
  margin: 0 8px 0 0 !important;
}

#summarizeButtonContainer button {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 6px !important;
  background: var(--button-background) !important;
  border: none !important;
  height: 36px !important;
  outline: 0 !important;
  font-size: var(--text-size-default) !important;
  border-radius: var(--border-submit-button) !important;
  cursor: pointer !important;
  transition: 0.15s !important;
  padding: 0 16px !important;
  box-sizing: border-box !important;
  color: var(--summarize-button-selected-icon-color) !important;
  font-family: "Roboto", "Arial", sans-serif !important;
  font-weight: 500 !important;
  line-height: var(--line-height-large) !important;
}

#summarizeButtonContainer button:hover {
  background: var(--button-hover) !important;
}

#summarizeButtonContainer button svg {
  stroke: var(--summarize-button-selected-icon-color) !important;
  margin-left: -6px !important;
}

/* MARK: - Login Form */

#videoSummarizeContainer .loginFormContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

#videoSummarizeContainer .subScreenContent {
  display: none !important;
}

#videoSummarizeContainer .subScreenContent[active] {
  display: block !important;
  width: 80% !important;
}

#videoSummarizeContainer .loginFormContainer h3 {
  font-size: var(--text-size-small-heading) !important;
  margin-bottom: 8px !important;
  text-align: center !important;
}

#videoSummarizeContainer
  .loginFormContainer:not(:has(#emailVerification[active]))
  .instructionSubLabel {
  margin-bottom: 16px !important;
}

#videoSummarizeContainer .loginFormContainer .subScreenError {
  text-align: left !important;
  font-size: var(--text-size-default) !important;
  font-weight: lighter !important;
  color: var(--destruct-button-background) !important;
  display: none;
  padding-left: 15px !important;
  line-height: var(--line-height-default) !important;
  margin-bottom: 15px !important;
}

#videoSummarizeContainer
  .loginFormContainer
  .subScreenError:has(.loginRouterButton) {
  padding-left: 0 !important;
}

#videoSummarizeContainer .loginFormContainer .subScreenError span {
  color: inherit !important;
  font-size: var(--text-size-default) !important;
  white-space: normal !important;
}

#videoSummarizeContainer .loginFormContainer span.loginRouterButton {
  text-decoration: underline !important;
  cursor: pointer !important;
  color: var(--text-color) !important;
}

#videoSummarizeContainer .loginFormContainer .signUPtext {
  display: flex !important;
  gap: 4px !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 10px !important;
}

#videoSummarizeContainer .loginFormContainer .signUPtext p {
  font-size: var(--text-size-default) !important;
  color: var(--text-color) !important;
  font-weight: 300 !important;
}

#videoSummarizeContainer .loginFormContainer .signUPtext span {
  font-size: var(--text-size-default) !important;
  color: var(--spinner-color) !important;
  font-weight: 300 !important;
  text-align: center !important;
  cursor: pointer !important;
}

#videoSummarizeContainer .loginFormContainer .signUPtext span:hover {
  color: var(--submit-button-hover) !important;
}

#videoSummarizeContainer .loginFormContainer button#changeEmail {
  margin-top: -10px !important;
}

/* MARK: - Free Quota and Settings */

#videoSummarizeContainer .free-quota-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  height: 100% !important;
}

#videoSummarizeContainer .free-quota-container h3 {
  padding-bottom: 20px !important;
}

#videoSummarizeContainer .settings-container > div {
  margin-bottom: 16px !important;
}

#videoSummarizeContainer .settings-container .feature-settings .switchLabel {
  position: relative !important;
  display: inline-block !important;
  width: 32px !important;
  height: 18px !important;
  flex-shrink: 0 !important;
}

#videoSummarizeContainer .settings-container .feature-settings .switch input {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

#videoSummarizeContainer .settings-container .feature-settings .slider {
  position: absolute !important;
  cursor: pointer !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: var(--action-item-background) !important;
  -webkit-transition: 0.1s !important;
  transition: 0.1s !important;
}

#videoSummarizeContainer .settings-container .feature-settings .slider:before {
  position: absolute !important;
  content: "" !important;
  height: 14px !important;
  width: 14px !important;
  left: 2px !important;
  bottom: 1.7px !important;
  background-color: #fff !important;
  -webkit-transition: 0.1s !important;
  transition: 0.1s !important;
}

#videoSummarizeContainer .settings-container .feature-settings .slider:hover {
  opacity: 0.9 !important;
}

#videoSummarizeContainer
  .settings-container
  .feature-settings
  input:checked
  + .slider {
  background-color: var(--spinner-color) !important;
}

#videoSummarizeContainer
  .settings-container
  .feature-settings
  input:focus
  + .slider {
  box-shadow: 0 0 1px var(--spinner-color) !important;
}

#videoSummarizeContainer
  .settings-container
  .feature-settings
  input:checked
  + .slider:before {
  -webkit-transform: translateX(14px) !important;
  -ms-transform: translateX(14px) !important;
  transform: translateX(14px) !important;
}

#videoSummarizeContainer .settings-container .feature-settings .slider.round {
  border-radius: var(--border-radius-slider) !important;
}

#videoSummarizeContainer
  .settings-container
  .feature-settings
  .slider.round:before {
  border-radius: var(--border-radius-circle) !important;
}

#videoSummarizeContainer .settings-container .feature-settings .features-item {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  margin: 0 !important;
}

#videoSummarizeContainer
  .settings-container
  .feature-settings
  .features-item.column {
  flex-direction: column !important;
  align-items: flex-start !important;
  margin: 0 0 4px !important;
}

/* MARK: - Timestamp Description */

#videoSummarizeContainer .timestamp-description-list {
  margin-bottom: 25px !important;
}

#videoSummarizeContainer .timestamp-description-list li {
  margin: 10px 0 !important;
  position: relative !important;
  display: flex !important;
  align-items: flex-start !important;
  gap: 4px !important;
}

#videoSummarizeContainer .timestamp-description-list[emojiList] li {
  margin: 10px 0 10px 26px !important;
}

#videoSummarizeContainer
  .timestamp-description-list
  li
  .timestamps-description-dot {
  font-size: var(--text-size-small-heading) !important;
  line-height: var(--line-height-default) !important;
}

#videoSummarizeContainer .timestamp-description-list li span {
  font-size: var(--text-size-default) !important;
  color: var(--translate-language-abbreviation-color) !important;
}

#videoSummarizeContainer .timestamp-description-expand {
  display: inline-flex !important;
  align-items: center !important;
  cursor: pointer !important;
  margin-left: 4px !important;
}

#videoSummarizeContainer .timestamp-description-expand span,
#videoSummarizeContainer .timestamp-description-expand svg {
  color: var(--untrap-icon-color) !important;
  fill: var(--untrap-icon-color) !important;
}

#videoSummarizeContainer .timestamp-description-expand[expand] svg {
  transform: rotate(180deg) !important;
  transition: 0.15s !important;
}

#videoSummarizeContainer .timestamp-description-block {
  display: none !important;
}

#videoSummarizeContainer .timestamp-description-block[expand] {
  display: block !important;
}

/* MARK: - Key Insight Bullet Points */

#videoSummarizeContainer span#key-insight-bullet-point {
  margin-right: 8px !important;
  display: inline-block !important;
}

#videoSummarizeContainer span#key-insight-bullet-point[disc] {
  font-size: var(--text-size-key-bullet) !important;
  line-height: var(--line-height-bullet-point) !important;
}

/* MARK: - Copy Button */

#videoSummarizeContainer button.copy-summarize-button {
  position: relative !important;
}

#videoSummarizeContainer button.copy-summarize-button[disabled] {
  cursor: initial !important;
}

#videoSummarizeContainer button.copy-summarize-button[disabled]:hover {
  background: none !important;
}

#videoSummarizeContainer button.copy-summarize-button[disabled] path {
  fill: var(--main-border-color) !important;
}

#videoSummarizeContainer button.copy-summarize-button svg#successCopySvg path {
  fill: var(--success-copy-icon-color) !important;
}

#videoSummarizeContainer button.copy-summarize-button svg#successCopySvg {
  position: absolute !important;
  top: 2px !important;
}

#videoSummarizeContainer button.copy-summarize-button:has(svg#successCopySvg) {
  background: var(--success-background-color) !important;
}

#videoSummarizeContainer
  button.copy-summarize-button:has(svg#successCopySvg):hover {
  background: var(--tabs-background-color) !important;
}

/* MARK: - Email Verification */

#videoSummarizeContainer #emailVerification .verification-content-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 16px !important;
}

#videoSummarizeContainer #emailVerification .verification-input-container {
  display: flex !important;
  gap: 10px !important;
  justify-content: center !important;
}

#videoSummarizeContainer #emailVerification .verification-input {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  font-size: var(--text-size-small-heading) !important;
  border: 2px solid var(--action-item-background) !important;
  border-radius: var(--border-radius-verification-input) !important;
  outline: none !important;
  transition: border-color 0.3s !important;
}

#videoSummarizeContainer #emailVerification .verification-input:focus {
  border-color: var(--submit-button-hover) !important;
}

#videoSummarizeContainer
  #emailVerification
  .verification-input::-webkit-inner-spin-button,
#videoSummarizeContainer
  #emailVerification
  .verification-input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

#videoSummarizeContainer #emailVerification .subScreenHeader {
  width: 100% !important;
}

#videoSummarizeContainer #emailVerification .subScreenHeader svg {
  fill: var(--selected-icon-color) !important;
  background: var(--selected-tab-background-color) !important;
  transform: rotate(90deg) !important;
  padding: 2px !important;
  border-radius: var(--border-radius-circle) !important;
  cursor: pointer !important;
}

#videoSummarizeContainer #emailVerification h3 {
  margin-bottom: 0 !important;
}

#videoSummarizeContainer #emailVerification span.verification-description-text {
  font-size: var(--text-size-default) !important;
  text-align: center !important;
  color: var(--description-text-color) !important;
}

#videoSummarizeContainer #emailVerification .subScreenError {
  margin: 0 !important;
  align-self: flex-start !important;
}

/* MARK: - Summarize on Click */
[untrap_generate_automatically="false"]
  #videoSummarizeContainer
  .summarize-on-click-button-container {
  position: absolute !important;
  bottom: 0 !important;
  width: calc(100% - 24px) !important;
}

/* Buttons */

#videoSummarizeContainer .centered-button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  text-transform: capitalize !important;
  position: sticky !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: var(--border-submit-button) !important;
  color: #000 !important;
  background-blend-mode: screen, normal !important;
  background-image: linear-gradient(#fff, #ffffffb3) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  width: unset !important;
  text-decoration: none !important;
  font-size: var(--text-size-default) !important;
}

#videoSummarizeContainer .full-width {
  display: inline-block !important;
  width: 100% !important;
}

#videoSummarizeContainer .summarize-centered-action-button {
  display: inline-block !important;
  width: calc(100% - 30px) !important;
}

#videoSummarizeContainer .outline-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
  border: none !important;
  background: none !important;
  border-radius: var(--border-radius-outline-button) !important;
  height: 28px !important;
  padding: 5px !important;
  width: 28px !important;
}

#videoSummarizeContainer #emailVerification .outlinedButton {
  background: transparent !important;
  cursor: pointer !important;
  width: 100% !important;
  border: none !important;
  height: 32px !important;
  outline: 0 !important;
  font-size: var(--text-size-default) !important;
  border-radius: var(--border-radius-outline-button) !important;
  transition: 0.15s !important;
  padding: 0 15px !important;
  box-sizing: border-box !important;
  color: var(--text-color) !important;
}

#videoSummarizeContainer .loginFormContainer .submitButton {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  font-size: var(--text-size-default) !important;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  text-transform: capitalize !important;
  position: sticky !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: var(--border-submit-button) !important;
  background-blend-mode: screen, normal !important;
  background-image: linear-gradient(#fff, #ffffffb3) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  color: #000 !important;
}

#videoSummarizeContainer .centered-button[disabled],
#videoSummarizeContainer .submitButton[disabled],
#videoSummarizeContainer .outlinedButton[disabled] {
  background-color: var(--input-background) !important;
  color: var(--disabled-button-text) !important;
  cursor: default !important;
}

#videoSummarizeContainer
  .load-more-translate-container
  .load-more-translate-button[disabled] {
  background: #1f1f1f !important;
  color: #ffffff52 !important;
  cursor: not-allowed !important;
}

#videoSummarizeContainer .outline-button path {
  fill: var(--translate-language-abbreviation-color) !important;
}

#videoSummarizeContainer
  .loginFormContainer
  .submitButton:not([disabled]):hover {
  transform: scale(1.02) !important;
}

#videoSummarizeContainer
  .loginFormContainer
  .submitButton:not([disabled]):active {
  transform: scale(1) !important;
}

#videoSummarizeContainer .centered-button:not([disabled]):hover {
  transform: scale(1.02) !important;
}

#videoSummarizeContainer
  #emailVerification
  .outlinedButton:not([disabled]):hover {
  background: var(--tabs-background-color) !important;
}

#videoSummarizeContainer .outline-button:not([disabled]):hover {
  background-color: var(--tabs-background-color) !important;
}

#videoSummarizeContainer
  #emailVerification
  .outlinedButton:not([disabled]):active {
  background: var(--submit-button-hover) !important;
}

/* MARK: - Media Queries for Small Screens */
@media (max-width: 375px) {
  #videoSummarizeContainer .tabs-content-container {
    display: flex !important;
    gap: 8px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  #videoSummarizeContainer .top-comments-item-author-link {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 165px !important;
  }
}
