#temporaryLockedScreen #temporaryLockedMessage {
  padding: 20px 0 20px 0;
  font-size: var(--text-size-body);
  line-height: var(--line-height-medium);
  color: var(--secondary-color-on-primary-background);
}

#temporaryLockedScreen #temporaryLockedMessage .temporaryLockedIcon {
  color: var(--secondary-color-on-primary-background);
  margin-bottom: 15px;
  font-size: 42px;
}

#temporaryLockedScreen #temporaryLockedMessage .temporaryLockedHeadline {
  font-size: var(--text-size-medium);
  color: var(--primary-color-on-primary-background);
  font-weight: 600;
  margin-bottom: 5px;
}

#temporaryLockedScreen #temporaryLockedMessage .temporaryLockedSubhedline {
  font-size: var(--text-size-default);
}
