#mainScreen #topHeader {
  z-index: 20;
  position: relative;
}

#mainScreen .note-text {
  font-size: var(--text-size-label);
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: var(--primary-color-on-primary-background);
  margin-top: -3px;
}

#mainScreen #topHeader .firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainScreen #topHeader .topHeaderLeft {
  justify-content: flex-begin;
  display: flex;
  align-items: center;
}

#mainScreen #topHeader .topHeaderRight {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

#mainScreen #topHeader .topHeaderCenter {
  width: calc(100% - 80px);
  font-weight: 500;
  font-size: var(--text-size-body);
  text-align: center;
  background-image: var(--subscreen-navigation-title-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  justify-content: center;
  gap: 6.5px;
  align-items: center;
  position: relative;
}

#mainScreen #topHeader .topHeaderButton {
  cursor: pointer;
}

#mainScreen #topHeader .topHeaderButton i {
  color: var(--primary-color-on-primary-background);
  font-size: var(--text-size-button-icon);
  transition: 0.15s;
}

#mainScreen #topHeader .topHeaderLeft .topHeaderButton {
  margin-left: 15px;
}

#mainScreen #topHeader .toMoreButton {
  margin-left: 0 !important;
}

#mainScreen #topHeader .toMoreButton:hover i {
  color: var(--primary-color-on-primary-background-hover);
}

#mainScreen #topHeader #powerButton i {
  color: var(--destruct-button-background);
}

html[disabled="false"] #mainScreen #topHeader #powerButton i {
  color: var(--good-button-background);
}

html[disabled="false"] #mainScreen #topHeader #powerButton:hover i {
  color: var(--good-button-background-hover);
}

html[disabled="true"] #mainScreen #topHeader #powerButton:hover i {
  color: var(--destruct-button-background-hover);
}

#mainScreen #disableMessage {
  display: none;
  padding: 0px 0 27px 0;
  text-align: center;
}

html[disabled="true"] #mainScreen #disableMessage {
  display: block;
}

#mainScreen #disableMessage .disableMessageIcon {
  color: var(--primary-color-on-primary-background);
  margin-bottom: 10px;
  font-size: var(--text-size-icon-large);
}

#mainScreen #disableMessage .disableMessageHeadline {
  font-size: var(--text-size-body);
  color: var(--primary-color-on-primary-background);
  font-weight: 500;
  margin-bottom: 5px;
  line-height: var(--line-height-medium);
}

#mainScreen #disableMessage .disableMessageSubhedline {
  font-size: var(--text-size-default);
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-message);
}

#mainScreen #mainGlobalOptions .optionWrapper:last-child .label {
  border-bottom: none;
}

#mainScreen #mainGlobalOptions #showAllButton {
  margin-top: 20px;
  width: unset;
}

html #mainScreen .contentToHide {
  margin-top: 20px;
}

html[disabled="true"] #mainScreen .contentToHide {
  display: none;
}

#mainScreen .turnOffPickerPopup {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 180px;
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  border-top-right-radius: 0px;
  box-shadow: 0 4px 12px #1d1d20;
  z-index: 10;
  display: none;
  overflow: hidden;
}

#mainScreen .turnOffPickerPopup[active] {
  display: block;
}

#mainScreen .turnOffGroupTitle {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#mainScreen .turnOffPickerPopup .turnOffElement {
  text-align: left;
  font-size: var(--text-size-default);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  transition: 0.15s;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

#mainScreen .turnOffPickerPopup .turnOffElement:hover {
  background: #333541;
}

#mainScreen .turnOnPickerPopup {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 180px;
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  border-top-right-radius: 0px;
  box-shadow: 0 4px 12px #1d1d20;
  z-index: 10;
  display: none;
  overflow: hidden;
  z-index: 21;
}

#mainScreen .turnOnPickerPopup[active] {
  display: block;
}

#mainScreen .turnOnGroupTitle {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#mainScreen .turnOnPickerPopup .turnOnElement {
  text-align: left;
  font-size: var(--text-size-default);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  transition: 0.15s;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

#mainScreen .turnOnPickerPopup .turnOnElement:hover {
  background: #333541;
}
