#proSignUpScreen .subScreenError {
  text-align: left;
  font-size: var(--text-size-default);
  font-weight: lighter;
  color: var(--destruct-button-background);
  display: none;
  padding-left: 15px;
  line-height: var(--line-height-default);
}

#proSignUpScreen .resetButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

#proSignUpScreen .resetButtonsWrapper span.invisible {
  visibility: hidden;
  display: none !important;
}

#proSignUpScreen #passwordUnlockingPromptDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#proSignUpScreen #passwordUnlockingResetDateDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#proSignUpScreen .signUPtext {
  font-size: var(--text-size-default);
  color: var(--primary-text-color);
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}

#proSignUpScreen .signUPtext .routerButton {
  color: var(--submit-button-background);
  transition: 0.15s;
  cursor: pointer;
}

#proSignUpScreen .signUPtext .routerButton:hover {
  color: var(--submit-button-background-hover);
}
