#openingTimerWaitScreen[active] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#openingTimerWaitScreen .unlockIcon {
  color: var(--primary-color-on-primary-background);
  margin-bottom: 10px;
  font-size: var(--text-size-icon-large);
}

#openingTimerWaitScreen .unlockHeadline {
  font-size: var(--text-size-medium);
  color: var(--primary-color-on-primary-background);
  font-weight: 600;
  line-height: var(--line-height-medium);
  margin-top: 10px;
}

#openingTimerWaitScreen .unlockSubHeadline {
  font-size: var(--text-size-default);
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-message);
  margin-top: 10px;
}

#openingTimerWaitScreen .subScreenContent {
  padding: 20px 0;
}

#openingTimerWaitScreen[active] .subScreenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
