#plusPromoScreen .content {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

#plusPromoScreen .plusButtonWrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--primary-background);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#plusPromoScreen .underlayBackground2 {
  backdrop-filter: blur(10px);
  outline-offset: 0px;
  outline: 1.5px solid #ffffff17;
  background-color: #ffffff05;
}

#plusPromoScreen .content {
  padding-top: 15px;
  box-sizing: border-box;
  padding-bottom: 70px;
}

#plusPromoScreen .paragraph {
  font-size: var(--text-size-label-large);
  color: var(--secondary-color-on-primary-background);
}

.planWrapper {
  border-radius: var(--border-radius-default);
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}

#plusPromoScreen .plans .planWrapper .value-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.planWrapper .value {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.planWrapper .value.bad {
  background-image: linear-gradient(to right, #d3382d, #98261a);
}

.planWrapper .value.middle {
  background-image: linear-gradient(to right, #f8ab22, #f87f00);
}

.planWrapper .value.good {
  background-image: linear-gradient(90deg, #a8e063, #56ab2f);
}

.planWrapper .description {
  font-size: var(--text-size-label-large);
  color: var(--secondary-color-on-primary-background);
}

.planWrapper .feature .name {
  background-image: var(--subscreen-navigation-title-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: var(--text-size-default);
}

#plusPromoScreen .plans {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#plusPromoScreen .plans .feature {
  text-align: center;
}

#plusPromoScreen .plans.full {
  flex-direction: column;
}

#plusPromoScreen .why {
  background-image: var(--subscreen-navigation-title-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: var(--text-size-medium);
  margin-top: 10px;
}

#plusPromoScreen .plans.full .feature {
  text-align: left;
}

#plusPromoScreen .plans.full .value-row {
  flex-direction: row;
}

#plusPromoScreen .plans.full .feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#plusPromoScreen .closeButton {
  cursor: pointer;
  padding: 1px 1.5px;
}

#plusPromoScreen .closeButton i {
  font-size: var(--text-size-button-icon);
  color: var(--primary-color-on-primary-background);
  transition: 0.15s;
}

#plusPromoScreen .closeButton:hover i {
  color: var(--primary-color-on-primary-background-hover);
}
