#passwordUnlockingScreen .unlockIcon {
  color: var(--primary-color-on-primary-background);
  margin-bottom: 10px;
  font-size: var(--text-size-icon-large);
  text-align: center;
  width: 100%;
}

#passwordUnlockingScreen .unlockHeadline {
  font-size: var(--text-size-body);
  color: var(--primary-color-on-primary-background);
  font-weight: 500;
  margin-bottom: 5px;
  line-height: var(--line-height-medium);
  text-align: center;
}

#passwordUnlockingScreen .unlockSubHeadline {
  font-size: var(--text-size-default);
  color: var(--secondary-color-on-primary-background);
  margin-bottom: 15px;
  line-height: var(--line-height-message);
  text-align: center;
}

#passwordUnlockingScreen .subScreenError {
  text-align: left;
  font-size: var(--text-size-default);
  margin-bottom: 15px;
  font-weight: lighter;
  color: var(--destruct-button-background);
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  line-height: var(--line-height-default);
}

[dir="rtl"] #passwordUnlockingScreen .subScreenError {
  text-align: right;
}

#passwordUnlockingScreen .resetButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

#passwordUnlockingScreen .resetButtonsWrapper span {
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--primary-text-color);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
  cursor: pointer;
  display: none;
}

#passwordUnlockingScreen .resetButtonsWrapper span.invisible {
  visibility: hidden;
  display: none !important;
}

#passwordUnlockingScreen #passwordUnlockingPromptDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#passwordUnlockingScreen #passwordUnlockingResetDateDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}
