#importExportScreen .bolder {
  font-weight: 800;
}

#importExportScreen .buttonsWrapper #exportSettingsButton {
  margin-bottom: 15px;
}

#importExportScreen #importSettingsButton {
  margin-bottom: 15px;
}
