#proLoginScreen .subScreenError {
  text-align: left;
  font-size: var(--text-size-default);
  font-weight: lighter;
  color: var(--destruct-button-background);
  display: none;
  padding-left: 15px;
  line-height: var(--line-height-default);
}

#proLoginScreen .textField {
  width: 100%;
  box-sizing: border-box;
  font-size: var(--text-size-default);
  padding: 10px 15px;
  background: var(--elements-underlay-background);
  border: 1px solid var(--elements-underlay-background);
  border-radius: var(--border-radius-input);
  color: var(--primary-text-color);
}

#proLoginScreen .modernFormBlockItemsWrapper {
  border-radius: var(--border-radius-sections);
  box-sizing: border-box;
  margin-bottom: 15px;
}

#proLoginScreen .textField.error {
  border-color: var(--destruct-button-background);
}

#proLoginScreen .resetButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

#proLoginScreen .resetButtonsWrapper span.invisible {
  visibility: hidden;
  display: none !important;
}

#proLoginScreen #passwordUnlockingPromptDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#proLoginScreen #passwordUnlockingResetDateDisplaying {
  display: none;
  font-size: var(--text-size-label-large);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
  margin-top: 10px;
  font-weight: 200;
}

#proLoginScreen .signUPtext,
#proLoginScreen .forgot-password-link-text {
  font-size: var(--text-size-default);
  color: var(--primary-text-color);
  margin-top: 10px;
  font-weight: 300;
}

#proLoginScreen .signUPtext {
  text-align: center;
}

#proLoginScreen .signUPtext .routerButton,
#proLoginScreen .forgot-password-link-text {
  color: var(--submit-button-background);
  transition: 0.15s;
  cursor: pointer;
}

#proLoginScreen .signUPtext .routerButton:hover,
#proLoginScreen .forgot-password-link-text:hover {
  color: var(--submit-button-background-hover);
}
