#moreScreen .popUpHeader {
  display: flex;
  position: fixed;
  background: var(--primary-background);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 15px 10px 15px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

#moreScreen .closeButton {
  cursor: pointer;
  padding: 1px 1.5px;
}

#moreScreen .closeButton i {
  font-size: var(--text-size-button-icon);
  color: var(--primary-color-on-primary-background);
  transition: 0.15s;
}

#moreScreen .closeButton:hover i {
  color: var(--primary-color-on-primary-background-hover);
}

#moreScreen .popUpBody {
  padding-top: 40px;
}

#moreScreen .popUpMenuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: 0.15s;
  cursor: pointer;
}

#moreScreen .popUpMenuList:hover {
  opacity: 0.8;
}

#moreScreen .popUpMenuList .leadingPart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

#moreScreen .popUpMenuList .trailingPart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color-on-primary-background);
  gap: 10px;
  max-width: 170px;
}

#moreScreen .popUpMenuList i {
  font-size: var(--text-size-default);
  transition: 0.15s;
}

#moreScreen .popUpMenuList .iconWrapper {
  width: 20px;
  text-align: center;
}

#moreScreen .popUpMenuList .leadingPart span {
  font-size: var(--text-size-default);
}

#moreScreen .popUpMenuList .trailingPart span {
  font-size: var(--text-size-default);
  text-align: right;
}

#moreScreen .popUpMenuListGroupHeader {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  margin-top: 15px;
}

#moreScreen .popUpListGroupBody {
  background: var(--elements-underlay-background);
  border-radius: var(--border-radius-sections);
  padding: 5px 0px;
}

#moreScreen .popUpListGroupBody.noMb {
  margin-bottom: 0;
}

#moreScreen .popUpListGroupBody .popUpMenuList {
  border-bottom: 1px solid var(--separator-color);
  padding: 10px 15px;
  transition: 0.15s;
}

#moreScreen .popUpListGroupBody.bottomContactButtons {
  background: none;
  padding: 0;
}

#moreScreen .popUpListGroupBody.bottomContactButtons .popUpMenuList {
  background: var(--elements-underlay-background);
  border-radius: var(--border-radius-sections);
  padding: 12px 15px;
  box-sizing: border-box;
  width: calc(50% - 5px);
  border-bottom: none;
}

#moreScreen .bottomContactButtons {
  display: flex;
  justify-content: space-between;
}

#moreScreen .popUpListGroupBody .popUpMenuList:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

#moreScreen .popUpMenuList .trailingPart select {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  font-size: var(--text-size-default);
  box-shadow: none;
  background: 0 0 !important;
  color: var(--primary-color-on-primary-background);
  cursor: pointer;
  transition: 0.15s;
  text-align-last: right;
}

#moreScreen .popUpMenuList .leadingPart .headline {
  font-size: var(--text-size-default);
  display: block;
  margin-bottom: 4px;
}

#moreScreen .popUpMenuList .leadingPart .subheadline {
  font-size: var(--text-size-label-large);
  text-align: left;
  color: var(--secondary-color-on-primary-background);
  line-height: var(--line-height-default);
}

#moreScreen .headerLink {
  text-decoration: none;
  background: var(--elements-underlay-background);
  padding: 5px 13px;
  border-radius: var(--border-radius-link);
  transition: 0.15s;
  display: flex;
  align-items: center;
  gap: 5px;
  border-color: transparent;
  cursor: pointer;
}

#moreScreen .headerLink span {
  color: var(--primary-text-color);
  font-size: var(--text-size-default);
}

#moreScreen .headerLink i {
  color: #919191;
}

#moreScreen .rateLink i {
  color: #ecc248;
}

#moreScreen .linkLink i {
  color: #469ae9;
}

#moreScreen .otherAppsLogo {
  width: 60px;
}

#moreScreen .logoWrapper {
  display: flex;
  align-items: center;
}

#moreScreen .headerRightLinks {
  display: flex;
  gap: 5px;
}

#moreScreen .appLinksWrapper {
  position: relative;
}

#moreScreen .linksPickerPopup {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 150px;
  box-sizing: border-box;
  background: #1d1d20;
  border-radius: var(--border-radius-input);
  border-top-right-radius: 0px;
  box-shadow: 0 4px 12px #1d1d20;
  z-index: 10;
  display: none;
  overflow: hidden;
}

#moreScreen .linksPickerPopup[active] {
  display: block;
}

#moreScreen .linksGroupTitle {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#moreScreen .headerLink:hover {
  opacity: 0.8;
}

#moreScreen .linksPickerPopup .linkElement {
  text-align: left;
  font-size: var(--text-size-default);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  transition: 0.15s;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

#moreScreen .linksPickerPopup .linkElement:hover {
  background: #333541;
}

html[device="laptop"] #moreScreen .headerLink.linkLink:hover,
html[device="phone"] #moreScreen .appLinksWrapper.clicked .headerLink.linkLink {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

html[device="laptop"]
  #moreScreen
  .appLinksWrapper
  .linksPickerPopup:hover
  + .headerLink.linkLink,
html[device="phone"] #moreScreen .appLinksWrapper.clicked .headerLink.linkLink {
  opacity: 0.8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#moreScreen .feauturesContainer:first-child {
  margin-bottom: 10px;
  background: var(--elements-underlay-background);
  border-radius: var(--border-radius-sections);
}

#moreScreen .proLoginInfo_text {
  font-size: var(--text-size-default);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#moreScreen .featureStatusContainer .activeSpan {
  display: none;
}

#moreScreen .featureStatusContainer .notActiveSpan {
  display: block;
}

#moreScreen .featureStatusContainer[active] .notActiveSpan {
  display: none;
}

#moreScreen .featureStatusContainer[active] .activeSpan {
  display: block;
}

#moreScreen #extraLinksButton {
  cursor: pointer;
}

[dir="rtl"] i.fa-chevron-right {
  transform: rotate(180deg);
}

[dir="rtl"] #moreScreen .popUpMenuList .trailingPart select {
  text-align-last: left;
}

[dir="rtl"] #moreScreen .linksPickerPopup {
  right: inherit;
  left: 0;
}

#moreScreen .myOtherApps {
  display: flex;
  flex-direction: column;
}

#moreScreen .myOtherApps,
#moreScreen .myOtherApps .popUpMenuList {
  gap: 10px;
}

#moreScreen .popUpMenuListGroupHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  margin-top: 15px;
  transition: 0.15s;
  cursor: pointer;
}

#moreScreen .popUpMenuListGroupHeaderContainer .popUpMenuListGroupHeader {
  font-size: var(--text-size-label);
  color: var(--primary-color-on-primary-background);
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

#moreScreen .popUpMenuListGroupHeaderContainer i {
  transition: 0.15s;
  transform: rotate(180deg);
  position: relative;
  top: -3px;
}

#moreScreen[isShowMyApp="false"] .popUpMenuListGroupHeaderContainer i {
  transform: rotate(0deg);
}

#moreScreen .pro-info-help-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

#moreScreen .subScreenInfo {
  top: 20%;
  right: 19px;
  width: 90%;
}

#moreScreen .subScreenInfo[show] {
  display: block;
}

#moreScreen .subScreenInfo p {
  padding-top: 20px;
}

#moreScreen .fa-xmark {
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 10;
}

#moreScreen i,
#moreScreen span,
#moreScreen #showAllButton p {
  color: var(--primary-text-color);
}

#moreScreen .linksPickerPopup i,
#moreScreen .linksPickerPopup span {
  color: white;
}

#moreScreen .pro-info-help-list-container p {
  text-align: left;
}

#moreScreen .pro-info-help-list-container li {
  padding-left: 20px;
  position: relative;
}

#moreScreen .pro-info-help-list-container li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: var(--border-radius-circle);
  left: 5px;
  top: 27px;
}

#moreScreen .subScreenInfo .submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin-top: 16px;
}

html[browser="safari"] #moreScreen .feauturesContainer .profileInfo {
  display: none !important;
}

#moreScreen .feauturesContainer .profileInfo[active] {
  display: flex;
}
